*{
    margin:0;
    padding:0;
  }
  body{
      height: 100vh;
    
  }
  
  html, body {
    font-family: 'Open Sans', sans-serif;
  }
  
  li a{
    text-decoration:none;
  }
  .nav{
      display: flex;
      margin-bottom: 1em;
      align-items: center;
      background-color: #f9ff3e;
  }
  .mobileMenu{
    display: none;
  }
  .leftNav{
    background-color: #f9ff3e;
    width: 15%;
    padding-right: 11vh;
    padding-left: 10vh;
  }
  .rightNav{
    
    background-color:#f9ff3e;
    flex: 1;
    width: auto;
    padding-top: 0.4em;
    text-shadow: -1px -1px 0 #D4D4D9, 1px -1px 0 #D4D4D9, -1px 1px 0 #D4D4D9, 1px 1px 0 #D4D4D9;
  }
  .rightNav a{
    color: #3D3C59;
    font-size: 1.5vw;
  }
  ul{
      display: flex;
      flex-direction: row;
      list-style: none;
      padding-left: 4vh;
  }
  ul li{
    margin:0.075em;
    padding:0.875em 2em;
  }
  .content{
      width: auto;
      height: auto;
      
  }
  #main{
      height: 100%;
  }
  #map {
    height: 100%;
  }
  iframe.iframe{
    width: 100%;
  }
  .footer{
      background-color: black;
      width: 100%;
      height: 25vh;
  }
  .footer{	
    background-color: #f9ff3e;	
    color: #1864a3;	
    width: 100%;	
    height: auto;	
}
  .footerContent{	
  display: flex;	
  flex-direction: row;	
  padding-top: 3em;	
}	
.footerSections{	
  width: 27%;	
  height: auto;	
}	
#footerLogos{	
  display: flex;	
  flex-direction: column;	
  padding-left: 6vh;
}	
.socialMedia{	
  margin-left: 4.8em;	
  margin-top: 1em;	
}	
.footerLogo{	
  height: 7em;	
  width: 10em;	
  margin-left: 2em;	
}	

  img.menuLogo{
    height: auto;
    width: 4em;
      margin-left: 1%;
      padding-top: 0.5em;
  }

  img.bookingImg
  {
      height: 25%;
      width: 50%;
  }
  div.bookingFormBox
  {
      align-items: center;
      background-color: white;
      height: auto;
      width: 50%;
      margin: auto;
      color: black;
  }
  form#bookingForm
  {
      text-align: center;
  }
  input#bookingFormSubmit
  {
    border-radius: 2em;
    height: 2em;
    width: 6em;
    font-size: x-large;
    -webkit-box-shadow:0px 0.25em 0.25em #000000;
  -moz-box-shadow:0px 0.25em 0.25em #000000;
  box-shadow:0px 0.25em 0.25em #000000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  }

input#bookingFormSubmit:focus
{
  outline: none;
}
input#bookingFormSubmit:active
{
  outline: none;
}

input#startPos
{
  height: 2.5em;
  width: 30vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
}

input#startPos:focus
{
  outline: none;
}
input#startPos:active
{
  outline: none;
}

input#endPos
{
  height: 2.5em;
  width: 30vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
}

input#endPos:focus
{
  outline: none;
}
input#endPos:active
{
  outline: none;
}

input#date
{
  height: 2.5em;
  width: 14vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
  padding-right: 2vh;
}

input#date:focus
{
  outline: none;
}

input#date:active
{
  outline: none;
}

input#time
{
  height: 2.5em;
  width: 14vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
}
input#time:focus
{
  outline: none;
}

input#time:active
{
  outline: none; 
}

input#name
{
  height: 2.5em;
  width: 14vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
  padding-right: 2vh;
}
input#name:focus
{
  outline: none;
}

input#name:active
{
  outline: none; 
}

input#phone
{
  height: 2.5em;
  width: 14vw;
  background-color: white;
  font-size: 1em;
  color: #000000;
  padding-left: 0.7em;
  border-radius: 0.5em;
  border: black solid;
}
input#phone:focus
{
  outline: none;
}

input#phone:active
{
  outline: none; 
}

textarea.customerDescription
{
  height: 1.5em;
  width: 30vw;
  background-color: white;
  font-size: 1.25em;
  color: #000000;
  padding: 0.2em;
  border-radius: 0.5em;
  border: black solid;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea.customerDescription:focus
{
  outline: none;
}
textarea.customerDescription:active
{
  outline: none;
}
@media screen and (max-width: 500px){
  .leftNav{
    width: 0;
    height: 0;
    display: none;
  }
  .rightNav{
    width: 0;
    height: 0;
    display: none;
  }
.mobileMenu{
  display: block;
  height: 4em;
  padding-left: 45vw;
  padding-top: 2.5em;
  width: 100%;
  background-color: #f9ff3e;	
}
.iframe{
  width: 70vw;
  height: 20em;
}
div.bookingFormBox{
  margin-left: 15vw;
  margin-right: 15vw;
  width: auto;
}
.footerContent
{
  padding-top: 0vh;
  align-items: center;
}
.footerSections{	
  width: 20%;	
  height: auto;	
}	
#footerContact
{
  padding-top: auto;
  padding-left: 10.5vw;
  font-size: x-small;
}
#footerLinks
{
  padding-top: auto;
  padding-left: 2.6vw;
  font-size: x-small;
}

.footerLogo
{
  display: none;
}

.socialMedia
{
  
}
}
@media screen and (min-width: 501px) and (max-width: 900px){
.rightNav{
 
}
.nav{
  flex-direction: column;
}
.rightNav a{
  font-size: 3.5vw;
}
.leftNav{
  padding-left: 1vw;
}
ul li{  
  padding-left: 1vw;
}
#footerContact
{
  padding-top: 5vw;
  padding-left: 9vw;
  font-size: medium;
}
#footerLinks
{
  padding-top: 5vw;
  padding-left: 2.6vw;
  font-size: medium;
}

.socialMedia
{
  padding-left: 0vw;
}
}